/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    display: flex;
    flex-direction: column;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

app-root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*============MATERIAL-UI============*/
body.material a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

body.material a:focus, body.material a:hover {
    color: inherit;
}

body.material a:hover {
    text-decoration: underline;
}


/*============BOOTSTRAP============*/
body.bootstrap .body {
    margin-top: 48px;
}