/*============MATERIAL-UI============*/
:host {
    display: flex;
    flex: 1;
}

.root {
    display: flex;
    flex: 1;
    padding: 32px;
    flex-direction: column;
}

.search-row {
    display: flex;
}

.search-row-button {
    width: 100px;
    margin-left: 16px;
}

.input {
    flex: 1;
    max-width: 400px;
}

.search-result {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}

/*============BOOTSTRAP============*/
.bootstrap-root {
    flex: 1;
    padding: 32px;
}

.search-label {}

.bootstrap-search-result {
    margin-top: 32px;
}