/*============MATERIAL-UI============*/
:host {
    display: flex;
    flex-wrap: wrap;
}

.rep-item {
	display: flex; 
    padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 40em) {
    .rep-item {
        width: 50%;
    }
}
@media all and (min-width: 60em) {
    .rep-item {
        width: 30%;
    }
}

.rep-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rep-card-actions {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.favorite-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.rep-avatar-image {
    background-size: cover;
}

.bookmarked {
    color: red;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.paginator.first {
    margin-bottom: 16px;
}

.paginator.last {
    margin-top: 16px;
}

/*============BOOTSTRAP============*/
.bootstrap-no-data {
    margin-left: 15px;
}

.bootstrap-card-root {
    padding: 8px;
    height: 100%;
}

.bootstrap-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 0;
    border-radius: 4px;
    background: #fff;
    color: rgba(0,0,0,.87);
    height: 100%;
    position: relative;
}

.rep-avatar-image-cell {
    display: flex;
    justify-content: center;
}

.bootstrap-rep-avatar-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.bootstrap-card-description {
    margin-top: 32px;
}

.bootstrap-card-favorite-button {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 20px;
    color: #000;
}

.bootstrap-card-favorite-button.bookmarked {
    color: red;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.text-overflow-fix {
    display: grid;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}