<div *ngIf="!repositoryItems?.length; then noData else repositoriesItems"></div>
<ng-template #noData><span *ngIf="repositoryItems">No data</span></ng-template>
<ng-template #repositoriesItems>
    <ng-container *ngTemplateOutlet="paginator"></ng-container>
    <div *ngFor="let rep of repositoryItems" class="rep-item">
        <mat-card class="rep-card">
            <mat-card-header>
                <div mat-card-avatar class="rep-avatar-image"
                    [ngStyle]="{'background-image': 'url(' + rep.owner.avatar_url + ')'}">
                </div>
                <mat-card-title>{{rep.full_name}}</mat-card-title>
                <mat-card-subtitle><a [href]="rep.html_url" target="_blank">{{rep.html_url}}</a></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{rep.description}}</p>
            </mat-card-content>
            <mat-card-actions class="rep-card-actions">
                <button mat-button matTooltip="Coming soon">LIKE</button>
                <button mat-button matTooltip="Coming soon">SHARE</button>
                <button mat-icon-button class="favorite-icon" [class.bookmarked]="rep.bookmarked"
                    [matTooltip]="rep.bookmarked ? 'Remove from favorite' : 'Add to favorite'"
                    (click)="onToggleFavorite.emit(rep.id)">
                    <mat-icon>{{rep.bookmarked ? 'star' : 'star_border'}}</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <ng-container *ngTemplateOutlet="paginator"></ng-container>
</ng-template>
<ng-template #paginator>
    <mat-paginator *ngIf="!hidePaginator && totalCount > pageSize" [length]="totalCount" [pageSize]="pageSize"
        [pageSizeOptions]="[]" class="paginator first" [hidePageSize]="true" (page)="handlePageChanged($event)">
    </mat-paginator>
</ng-template>