:host {
    display: flex;
    flex-wrap: wrap;
}

.rep-item {
	display: flex; 
    padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 40em) {
    .rep-item {
        width: 50%;
    }
}
@media all and (min-width: 60em) {
    .rep-item {
        width: 30%;
    }
}

.rep-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rep-card-actions {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.favorite-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.rep-avatar-image {
    background-size: cover;
}

.bookmarked {
    color: red;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.paginator.first {
    margin-bottom: 16px;
}

.paginator.last {
    margin-top: 16px;
}